
body,
input,
button {
  color: #222;
  font: 1rem sans-serif;
}

body {
  margin: 0;
}

input {
  padding: 2px 6px;
  width: 10rem;
}

input[ type = url ] {
  width: 25rem;
}

button {
  padding: 3px 1rem;
}

h1 {
  font-weight: normal;
  margin: 0 8px;
}

form {
  margin: .6rem 8px;
}

/* https://stackoverflow.com/questions/24157940/iframe-height-auto-css */
.ifr-holder {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* min-height: 300px; */
}
