
.scroll-to-text-js,
input,
button {
  color: #222;
  font: .92rem sans-serif;
}

.scroll-to-text-js {
  background: #fafafa;
  margin: 0;
}

input,
button {
  border: 1px #aaa solid;
  border-radius: 3px;
}

input {
  padding: 2px 4px;
  width: 7.5rem;
}

input[ type = url ] {
  width: 25rem;
}

input[ type = number ] {
  width: 2rem;
}

button {
  background: #eee;
  cursor: pointer;
  padding: 3px .8rem;
}

label {
  margin-right: .3rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: normal;
  margin: .1rem 0;
}

.scroll-to-text-js p {
  margin: .1rem 0;
}

form {
  margin: .6rem 8px;
  height: 4rem;
}

abbr,
a.legal {
  cursor: help;
}

.sep {
  color: gray;
  font-style: normal;
  margin: 0 .3rem;
}

/* https://stackoverflow.com/questions/24157940/iframe-height-auto-css */
.X-ifr-holder {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

iframe {
  background: #fff;
  position: absolute;
  /* bottom: 0; */
  top: 4.6rem !important;
  left: 0;
  width: 99.7%;
  height: 91%;
  /* min-height: 300px; */
  max-height: 92%;
}

html, body, .X-iframe {
  height: 100%;
}

html {
  overflow: hidden;
}

/* https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
 https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

@media /*(min-width: 768px) and*/ (max-width: 1024px) {

  .scroll-to-text-js,
  input,
  button {
    font-size: .88rem;
  }

  h1 {
    font-size: 1.1rem;
  }

  form {
    height: 5rem;
  }

  iframe {
    top: 5.3rem !important;
    height: 89%;
  }

}
