
body,
input,
button {
  color: #222;
  font: .92rem sans-serif;
}

body {
  background: #f8f8f8;
  margin: 0;
}

input,
button {
  border: 1px #aaa solid;
  border-radius: 3px;
}

input {
  padding: 2px 5px;
  width: 8rem;
}

input[ type = url ] {
  width: 25rem;
}

input[ type = number ] {
  width: 1.6rem;
}

button {
  background: #eee;
  cursor: pointer;
  padding: 3px .8rem;
}

label {
  margin-right: .3rem;
}

h1 {
  font-weight: normal;
  margin: 0 8px;
}

p {
  margin: .2rem 0;
}

form {
  margin: .6rem 8px;
}

.sep {
  color: gray;
  font-style: normal;
  margin: 0 .3rem;
}

/* https://stackoverflow.com/questions/24157940/iframe-height-auto-css */
.X-ifr-holder {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

iframe {
  position: absolute;
  /* bottom: 0; */
  top: 4.6rem;
  left: 0;
  width: 99.7%;
  height: 92%;
  /* min-height: 300px; */
}

html, body, .X-iframe {
  height: 100%;
}

html {
  overflow: hidden;
}
